.settings/org.eclipse.m2e.core.prefs
.settings/org.springframework.ide.eclipse.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.jdt.core.prefs
target/test-classes/orders.json
target/test-classes/couriers.json
target/test-classes/com/glovoapp/backender/OrderRepositoryTest.class
target/test-classes/com/glovoapp/backender/DistanceCalculatorTest.class
target/test-classes/com/glovoapp/backender/CourierRepositoryTest.class
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/classes/orders.json
target/classes/couriers.json
target/classes/com/glovoapp/backender/Vehicle.class
target/classes/com/glovoapp/backender/OrderVM.class
target/classes/com/glovoapp/backender/OrderRepository.class
target/classes/com/glovoapp/backender/OrderRepository$1.class
target/classes/com/glovoapp/backender/Order.class
target/classes/com/glovoapp/backender/Location.class
target/classes/com/glovoapp/backender/DistanceCalculator.class
target/classes/com/glovoapp/backender/CourierRepository.class
target/classes/com/glovoapp/backender/CourierRepository$1.class
target/classes/com/glovoapp/backender/Courier.class
target/classes/com/glovoapp/backender/API.class
target/classes/application.properties
target/classes/META-INF/maven/com.glovoapp/backender/pom.xml
target/classes/META-INF/maven/com.glovoapp/backender/pom.properties
replay_pid72868.log
replay_pid19436.log
hs_err_pid72868.log
hs_err_pid47672.log
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.core.resources.prefs
hs_err_pid27688.log
hs_err_pid19436.log
hs_err_pid65292.log
target/classes/META-INF/MANIFEST.MF
replay_pid65292.log
